@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Fredoka+One&family=Hubballi&family=Merriweather&family=Righteous&family=Roboto+Slab:wght@500&family=Staatliches&display=swap');

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 0;
  background-color: #142530;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
